body{
    background-color: rgba(76, 23, 161, 0.904);
    font-size: 90px;
    color: rgba(231, 220, 220, 0.849);
    text-align: center;
    margin: auto;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 110px;
    text-align: center;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 75px;
    text-align: center;
}

.pwd {
    font-family: 'Nunito', sans-serif;
    font-size: 80px;
    text-align: center;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 90px;
    text-align: center;
}

#link {
    font-family: 'Nunito', sans-serif;
    font-size: 85px;
    text-align: center;
    color:rgba(231, 220, 220, 0.849)
}


